<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <SiteUrlToLaunchAfterPublish>https://t-mc-crm.azurewebsites.net</SiteUrlToLaunchAfterPublish>
  </PropertyGroup>
  <ItemGroup>
    <MsDeployDeclareParameters Include="ClientId">
      <Kind>XmlFile</Kind>
      <Scope>web.config$</Scope>
      <Match>/configuration/appSettings/add[@key='ClientId']/@value</Match>
      <Description>Client ID of the SharePoint app.</Description>
      <DefaultValue>9aa2df10-6a14-457a-8623-cbff519dca32</DefaultValue>
      <Value>9aa2df10-6a14-457a-8623-cbff519dca32</Value>
      <Tags>applicationSettings</Tags>
    </MsDeployDeclareParameters>
    <MsDeployDeclareParameters Include="ClientSecret">
      <Kind>XmlFile</Kind>
      <Scope>web.config$</Scope>
      <Match>/configuration/appSettings/add[@key='ClientSecret']/@value</Match>
      <Description>Client secret of the SharePoint app.</Description>
      <DefaultValue>tbSGTVZcShVHrFUCvySjzdkoKzxeAvBQyQBJWsP1P0k=</DefaultValue>
      <Value>tbSGTVZcShVHrFUCvySjzdkoKzxeAvBQyQBJWsP1P0k=</Value>
      <Tags>applicationSettings</Tags>
    </MsDeployDeclareParameters>
  </ItemGroup>
</Project>