<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <SiteUrlToLaunchAfterPublish>https://office.t-mc.nl/T-MC-CRM</SiteUrlToLaunchAfterPublish>
  </PropertyGroup>
  <ItemGroup>
    <MsDeployDeclareParameters Include="ClientId">
      <Kind>XmlFile</Kind>
      <Scope>web.config$</Scope>
      <Match>/configuration/appSettings/add[@key='ClientId']/@value</Match>
      <Description>Client ID of the SharePoint app.</Description>
      <DefaultValue>8a29dc08-0862-480c-a613-2386d23c8be3</DefaultValue>
      <Value>8a29dc08-0862-480c-a613-2386d23c8be3</Value>
      <Tags>applicationSettings</Tags>
    </MsDeployDeclareParameters>
    <MsDeployDeclareParameters Include="ClientSecret">
      <Kind>XmlFile</Kind>
      <Scope>web.config$</Scope>
      <Match>/configuration/appSettings/add[@key='ClientSecret']/@value</Match>
      <Description>Client secret of the SharePoint app.</Description>
      <DefaultValue>uifq6V3Xy9ARxzd+GDid5qvB401DSTf8IwiCBsV2W1c=</DefaultValue>
      <Value>uifq6V3Xy9ARxzd+GDid5qvB401DSTf8IwiCBsV2W1c=</Value>
      <Tags>applicationSettings</Tags>
    </MsDeployDeclareParameters>
  </ItemGroup>
</Project>