<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <SiteUrlToLaunchAfterPublish>https://BCApp.azurewebsites.net</SiteUrlToLaunchAfterPublish>
  </PropertyGroup>
  <ItemGroup>
    <MsDeployDeclareParameters Include="ClientId">
            <Kind>XmlFile</Kind>
            <Scope>web.config$</Scope>
            <Match>/configuration/appSettings/add[@key='ClientId']/@value</Match>
            <Description>Client ID of the SharePoint app.</Description>
            <DefaultValue>cf24460d-c956-4528-b1ec-cbe2b0b2f6aa</DefaultValue>
            <Value>cf24460d-c956-4528-b1ec-cbe2b0b2f6aa</Value>
            <Tags>applicationSettings</Tags>
        </MsDeployDeclareParameters>
    <MsDeployDeclareParameters Include="ClientSecret">
            <Kind>XmlFile</Kind>
            <Scope>web.config$</Scope>
            <Match>/configuration/appSettings/add[@key='ClientSecret']/@value</Match>
            <Description>Client secret of the SharePoint app.</Description>
            <DefaultValue>/GR8A8hKKIR/nwyJ4Sg5PhUNCITKLKwDsOiKItgu0Iw=</DefaultValue>
            <Value>/GR8A8hKKIR/nwyJ4Sg5PhUNCITKLKwDsOiKItgu0Iw=</Value>
            <Tags>applicationSettings</Tags>
        </MsDeployDeclareParameters>
  </ItemGroup>
</Project>